aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
blackboxprotobuf==1.0.1
CacheControl==0.12.10
certifi==2021.5.30
charset-normalizer==2.0.6
frozenlist==1.3.0
idna==3.2
mintotp==0.3.0
msgpack==1.0.3
multidict==6.0.2
nextcord==2.0.0a10
protobuf==3.10.0
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
tbapy==1.3.2
urllib3==1.26.7
wyze-sdk==1.2.2
yarl==1.7.2
